
body{

    text-align : justify;
    font-family: verdana; 
}
.imgCentre{
    float: none;
    margin:20px; 
}
.imgEsquerra{
    float:left; /*per ficar-lo a la esquerra */
    margin:20px; 
}
.imgDreta{
    float:right; /*per ficar-lo a la dreta*/
    margin:20px; 
}
.imgEsquerra img, .imgDreta img, imgCentre img{
    display: block;
    margin: 0 auto; 
    border-width: 2px;
    border-style:solid;
    border-color: #cc6633; /* color del borde */
}
.imgEsquerra > p, .imgDreta > p{
    text-align:center;
    font-weight:bold;
    font-size: 12px;
    background-color: #cc6633; /* color del fonds dels peus de foto*/
    color:white;

}
.imgCentre > p{
    text-align:center;
    font-weight:bold;
    font-size: 12px;
    color:black;
}
.video > p{
    text-align:center;
    font-weight:bold;
    font-size: 15px;
    background-color: #CF2020;
    color:white;

}
