body{
    font-family: Arial;
    background-image: url("../resources/fons.jpg"); 
    background-size: cover;
}

/*Estil General*/
nav{
    width:90%;
    max-width: 1200px;
    margin:auto;
}
nav ul {
    list-style: none;
    padding: 0;
    margin:auto;
}



nav li {
    line-height: 3rem;
    position: relative;
}
nav li ul{
    position: absolute;
}
nav a{
    color: #ddd;
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
    //transition: .4s;
}
nav a:hover{
    background: rgba(0,0,0,.5);
}


/*Primer nivell*/
nav > ul {
    background: #C64B4B;
    display: table;
    width: 100%;
}
nav > ul > li {
    float:left;
}



/*Segon nivell*/
nav li li{
    background: #222;
    max-height: 0;
    //transition: all .6s;
    overflow: hidden;
    width: 200%;
}

nav li:hover > ul > li{
    max-height: 1000px;
    overflow: visible;
}
nav > ul > li > ul {
    top: 100%;
}

/*Tercer nivell*/

nav ul ul ul{
    left:100%;
    top:0;
}

.contingut{
    height: 90%;
    max-width: 1200px;
    margin:auto;
    background: rgba(255, 255, 255, 0.9);
}

.imatgeEsquerra{
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;

}

.imgEsquerra{
    float:left; /*para ponerlo a la izquierda */
    margin:20px; /* un margen cualquiera */
}
.imgDreta{
    float:right; /*para ponerlo a la derecha*/
    margin:20px; /* un margen cualquiera */
}
.imgEsquerra img, .imgDreta img{
    display: block;
    margin: 0 auto; /* centrar imagen */
    border-width: 2px;
    border-style:solid;
    border-color: #cc6633; /* color del borde */
}
.imgEsquerra > p, .imgDreta > p{
    text-align:center;
    font-weight:bold;
    font-size: 9px;
    background-color: #CF2020;/*#cc6633; /* color del fondo del pie de foto = borde*/
    color:white;

}



/*body{
    background-image: url("../resources/fons.jpg"); 
    background-size: cover;
}

header{
    width:90%;
    max-width: 1000px;
    margin:auto;
}

nav{
    background:#528fd5;
    margin-top: 20px;
    position: relative;
}

nav ul{
    list-style: none;
    padding:0;
    margin:0;
    overflow: hidden;
}

nav > ul > li{
    float:left;
}

nav ul li a{
    text-decoration: none;
    color:#ffffff;
    display:block;
    padding:10px 20px;
}

nav ul li a:hover{
    background:#3669a3;
}

nav > ul > li:hover div{
    display:table;
}*/

/**submenu**/
/*
nav ul li div {
    width:50%; /*mida de la caixa del submenu
    position:absolute;
    background:#ccc;
    box-sizing: border-box;
    display:none;
}

nav ul li div ul{
    width:20%;
    display:table-cell;
    border-right: 1px solid rgba(255,255,255,.5);
    box-sizing:border-box;
}
    
nav ul li div ul:last-child{
    border:none;
}

nav ul li div ul li a {
    color:#000;
}

nav ul li div ul li a:hover{
    color:#fff;
}

.contingut{
    height: 90%;
    max-width: 1000px;
    margin:auto;
    background: rgba(255, 255, 255, 0.9);
}

.sub{
    width: 400px;
}*/
